# GPU selection
export CUDA_VISIBLE_DEVICES=0

# Model configuration
export MODEL_NAME=crestai/spark-tts-nexvox
export TOKENIZER_REPO=unsloth/Spark-TTS-0.5B
export TOKENIZER_CACHE_DIR=Spark-TTS-0.5B

# Spark-TTS repository path
export SPARK_TTS_REPO_PATH=Spark-TTS

# Server configuration
export HOST=0.0.0.0
export PORT=8000


pip install einx einops soundfile librosa vllm omegaconf fastapi uvicorn websockets torchcodec
apt update
apt install ffmpeg